SEED=
# OR
PRIVATE_KEY=0x
AMPHORLABS_ADDRESS_GOERLI=0x5A0Fb32360aead818D5486fe311A88bc681A1de1 # TEST USED ONLY
AMPHORLABS_ADDRESS=0x32B0aCfBb18C270491CDD124EB104A8d25A182ca # MAINNET
WSTETH_AMPHOR_VAULT_MAINNET=0x2791eb5807d69fe10c02eed6b4dc12bac0701744
FOUNDRY_FUZZ_MAX_TEST_REJECTS=4294967295
FOUNDRY_FFI=true
FOUNDRY_ETH_RPC_URL="https://eth-mainnet.g.alchemy.com/v2/API_KEY"
##############################################
##############  SYNTHETIC VAULT  #############
##############################################
BOOTSTRAP_AMOUNT_SYNTHETIC_USDC=100000000
BOOTSTRAP_AMOUNT_SYNTHETIC_WETH=10000000000000000000
BOOTSTRAP_AMOUNT_SYNTHETIC_WBTC=1000000
DECIMALS_OFFSET_USDC=12
DECIMALS_OFFSET_WETH=12
DECIMALS_OFFSET_WBTC=12
SYNTHETIC_USDC_V0_NAME="Amphor Synthetic LP-IL Hedged (USDC)"
SYNTHETIC_USDC_V0_SYMBOL=ampr-LP-USD
SYNTHETIC_WETH_V0_NAME="Amphor Synthetic LP-IL Hedged (WETH)"
SYNTHETIC_WETH_V0_SYMBOL=ampr-LP-ETH
SYNTHETIC_WBTC_V0_NAME="Amphor Synthetic LP-IL Hedged (WBTC)"
SYNTHETIC_WBTC_V0_SYMBOL=ampr-LP-BTC
INITIAL_FEES_AMOUNT=2000 #2000 = 20.00%
##############################################
#################  POLYGON  #################
##############################################
POLYGON_ETHERSCAN_API_KEY=
POLYGON_ZK_TESTNET_ETHERSCAN_API_KEY=
##############################################
# MUMBAI
USDC_MUMBAI=0xe9DcE89B076BA6107Bb64EF30678efec11939234
USDT_MUMBAI=0xAcDe43b9E5f72a4F554D4346e69e8e7AC8F352f0
DAI_MUMBAI=0xF14f9596430931E177469715c591513308244e8F
WETH_MUMBAI=0xD087ff96281dcf722AEa82aCA57E8545EA9e6C96
WBTC_MUMBAI=0x97e8dE167322a3bCA28E8A49BC46F6Ce128FEC68
VERIFIER_URL_MUMBAI=https://api-testnet.polygonscan.com/api/
RPC_URL_MUMBAI=https://polygon-mumbai-bor.publicnode.com
##############################################
# POLYGON MAINNET
USDC_POLYGON=0x2791Bca1f2de4661ED88A30C99A7a9449Aa84174
USDT_POLYGON=0xc2132D05D31c914a87C6611C10748AEb04B58e8F
DAI_POLYGON=0x8f3Cf7ad23Cd3CaDbD9735AFf958023239c6A063
WETH_POLYGON=0x7ceB23fD6bC0adD59E62ac25578270cFf1b9f619
WBTC_POLYGON=0x1BFD67037B42Cf73acF2047067bd4F2C47D9BfD6
VERIFIER_URL_POLYGON=https://api.polygonscan.com/api/
RPC_URL_POLYGON=https://polygon.meowrpc.com
##############################################
#################  ETHEREUM  #################
##############################################
ETHERSCAN_API_KEY=
VERIFIER_URL_GOERLI=https://api-goerli.etherscan.io/api
VERIFIER_URL=https://api.etherscan.io/api
##############################################
# GOERLI
USDC_GOERLI=0x65afadd39029741b3b8f0756952c74678c9cec93
AAVE_USDC_GOERLI=0x9FD21bE27A2B059a288229361E2fA632D8D2d074
CUSTOM_USDC_GOERLI=0x782609433dDCb91c64635F65B92aa09Dc6EFd01D
USDT_GOERLI=0x2e8d98fd126a32362f2bd8aa427e59a1ec63f780
DAI_GOERLI=0xba8dced3512925e52fe67b1b5329187589072a55
WETH_GOERLI=0xccb14936c2e000ed8393a571d15a2672537838ad
WBTC_GOERLI=0x45AC379F019E48ca5dAC02E54F406F99F5088099
RPC_URL_GOERLI=https://ethereum-goerli.publicnode.com
##############################################
# SEPOLIA
RPC_URL_SEPOLIA=https://endpoints.omniatech.io/v1/eth/sepolia/public
##############################################
# MAINNET
USDC_MAINNET=0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48
USDT_MAINNET=0xdAC17F958D2ee523a2206206994597C13D831ec7
DAI_MAINNET=0x6B175474E89094C44Da98b954EedeAC495271d0F
ETH_MAINNET=0xEeeeeEeeeEeEeeEeEeEeeEEEeeeeEeeeeeeeEEeE
WETH_MAINNET=0xC02aaA39b223FE8D0A0e5C4F27eAD9083C756Cc2
STETH_MAINNET=0xae7ab96520DE3A18E5e111B5EaAb095312D7fE84
WSTETH_MAINNET=0x7f39C581F595B53c5cb19bD0b3f8dA6c935E2Ca0
WBTC_MAINNET=0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599
RPC_URL_MAINNET=https://ethereum.publicnode.com
##############################################
